<%= render partial: 'shared/nav' %>

<h1 class="text-center">Survey Builder</h1>
<hr>

<div class='text-center'>
  <span>1. Build Survey</span> 
  <span class='marker'>|</span>
  <span class='text-muted'>2. Add Questions</span>  
</div>
<br>
<p>First, choose a title and a description for your survey</p>

<%= render 'survey_form' %>
